{{template "header"}}
<title>文章分类 - 我的 beego 博客</title>

<body>
<div class="page secondary">
    <div class="navbar navbar-default">
        <div class="container">{{template "navbar" .}}</div>
    </div>

    <div class="container">
        <form method="Get" action="/category">
            <div class="form-group">
                <label>分类列表</label>
                <input id="category" class="form-control" placeholder="Enter Category Information" name="categoryname">
                <div style="margin: 10px 0;">
                    <input name="op" type="hidden" value="add">
                    <button type="submit" class="btn btn-default btn-success" onclick="return checkInput();">添加分类</button>
                    <a class="btn btn-default" onclick="return backToHome();">返回首页</a>
                </div>
            </div>
        </form>
    </div>

    <div class="container">
        {{$isLogin := .IsLogin}}
        <div class="bs-example" data-example-id="bordered-table">
            <table class="table table-bordered table-hover">
            <thead>
                    <tr class="active">
                        <th>ID</th>
                        <th>分类名称</th>
                        <th>创建时间</th>
                        <th>文章数</th>
                        {{if $isLogin}}<th>操作</th>{{end}}
                    </tr>
            </thead>
                <tbody>
                {{range .Categorys}}
                    <tr>
                    <th scope="row">{{.Id}}</th>
                    <td>{{.Title}}</td>
                    <td>{{date .Created "Y-m-d H:i:s"}}</td>
                    <td>{{.TopicCount}}</td>
                    {{if $isLogin}}<td><a type="button" class="btn btn-primary btn-xs" href="/category?id={{.Id}}">编 辑</a> <a type="button" class="btn btn-danger btn-xs"  href="/category?op=del&id={{.Id}}">删 除</a> </td>{{end}}
                    </tr>
                {{end}}
                </tbody>
            </table>
        </div>
    </div>
</div>
    <script type="text/javascript">
        function checkInput() {
            var category = document.getElementById("category");
            if (category.value.length == 0) {
                alert("请输入分类名称")
                return false;
            }
            return true;
        }
        function backToHome() {
            window.location.href = "/";
            return false;
        }
    </script>
    <script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.2.1/jquery.min.js"></script>
    <script type="test/javascript" src="/static/js/bootstrap.min.js"></script>
</body>
</html>