{{template "header"}}
<title>文章 - 我的 beego 博客</title>

<body>
    <div class="navbar navbar-default">
        <div class="container">
            {{template "navbar" .}}
        </div>
    </div>
    <div class="container">
        <a type="button" class="btn btn-success" href="/topic/add">添加文章</a>
        <a class="btn btn-default" onclick="return backToHome();">返回首页</a>
    </div>
    <div style="margin: 10px 0"></div>

    <div class="container">
        {{$isLogin := .IsLogin}}
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                <tr class="active">
                    <th>ID</th>
                    <th>文章标题</th>
                    <th>所属分类</th>
                    <th>创建时间</th>
                    <th>最后修改时间</th>
                    <th>浏览次数</th>
                    <th>回复次数</th>
                    {{if $isLogin}}<th>操作</th>{{end}}
                </tr>
                </thead>
                <tbody>
                {{range .Topics}}
                <tr>
                    <td>{{.Id}}</td>
                    <td><a href="/topic/view/{{.Id}}">{{.Title}}</a></td>
                    <td>{{.Category}}</td>
                    <td>{{date .Created "Y-m-d H:i:s"}}</td>
                    <td>{{date .Updated "Y-m-d H:i:s"}}</td>
                    <td>{{.Views}}</td>
                    <td>{{.ReplyCount}}</td>
                    {{if $isLogin}}<td><a type="button" class="btn btn-primary btn-xs" href="/topic/modify?tid={{.Id}}">编辑</a> <a type="button" class="btn btn-danger btn-xs" href="/topic/delete?tid={{.Id}}">删除</a> </td>{{end}}
                </tr>
                {{end}}
                </tbody>
            </table>
        </div>
    </div>
    <script type="text/javascript">
        function backToHome(){
            window.location.href = "/";
            return false;
        }
    </script>
</body>