{{template "header"}}
<title>修改用户信息 - 我的 beego 博客</title>

<body>
    <div class="navbar navbar-default">
        <div class="container">
            {{template "navbar" .}}
        </div>
    </div>

    <div class="container">
        <form method="post" class="form-horizontal">
            <input type="hidden" name="uid" value="{{.Id}}">
            <div>
                <div id="legend" class="">
                    <legend class="">修改用户信息</legend>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-sm-2 control-label">用户名:</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="username" name="username" value="">
                    </div>
                </div>

                <!-- 输入密码 -->
                <div class="form-group">
                    <label class="col-sm-2 control-label">密 码:</label>
                    <div class="col-sm-3">
                        <input type="password" class="form-control" id="password" name="password" placeholder="输入密码。(必填)">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">确认密码:</label>
                    <div class="col-sm-3">
                        <input type="password" class="form-control" id="password1" name="password1" placeholder="确认输入密码。(必填)">
                    </div>
                </div>

                <!-- 性别选择 -->
                <div class="form-group">
                    <label class="col-sm-2 control-label">性 别:</label>
                    <div class="col-sm-3">
                        <select class="form-control" name="sex">
                            <option select="selected">男</option>
                            <option>女</option>
                        </select>
                    </div>
                </div>

                <!-- 输入年龄 -->
                <div class="form-group">
                    <label class="col-sm-2 control-label">年 龄:</label>
                    <div class="col-sm-3">
                        <select class="form-control" name="age">
                            {{range $i := .Number}}
                            <option>{{$i}}</option>
                            {{end}}
                        </select>
                    </div>
                </div>

                <!-- 出生年月 -->
                <div class="form-group">
                    <label class="col-sm-2 control-label">出生日期:</label>
                    <div class="input-append date form_datetime col-sm-3" data-date="2013-02-21T15:25:00Z">
                        <input class="form-control" name="birthday"  type="text" placeholder="格式(2016-01-01)" value="">
                    </div>
                </div>

                <!-- Email -->
                <div class="form-group">
                    <label class="col-sm-2 control-label">Email:</label>
                    <div class="col-sm-3">
                        <input type="email" class="form-control" placeholder="Email" name="email">
                    </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                    <div class="col-sm-2">
                        <input type="hidden">
                    </div>
                    <div class="col-sm-3">
                        <button type="submit" class="btn btn-success" onclick="return checkInput();">提交修改</button>
                        <button class="btn btn-default">返回首页</button>
                    </div>
                </div>

            </fieldset>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        function checkInput() {
            username = document.getElementById("username");
            password = document.getElementById("password");
            password1 = document.getElementById("password1");
            if (username.value.length == 0) {
                alert("请输入用户名!");
                return false;
            }
            if (password.value.length == 0 || password1.value.length == 0) {
                alert("请输入密码!");
                return false;
            }
        }
    </script>
</body>